dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

# Idea
.idea/
*.iml

# Vim
*~

# Execs
aggregator
cross-correlation
merger
reducer

# Data, plot images and results
tmpdata/
images/
aggregated.dat

# Latex
*.log
*.out
*.toc
*.bbl
*.blg
Output
Output_grep

mainDocument.pdf
